*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 0px;
}
body {
	font-family: "Roboto";
	line-height: 24px;
	color: #4B4B4B;
	overflow-x: hidden;
	letter-spacing: 0.15px;
}
.wrapper {
	min-height: 100%;
}
